.evenNode {
  width: 100%;
  position: relative;

  height: 26px;
  min-height: 26px;

  max-height: 26px;

  align-items: center;
  background-color: #1e1e1e;

  cursor: pointer;
}

.oddNode {
  width: 100%;
  position: relative;
  display: inline-flex;
  height: 26px;
  min-height: 26px;
  max-height: 26px;

  align-items: center;
  background-color: #2e2e2e;

  cursor: pointer;
}

.evenNode:hover {
  background-color: #454545;
}

.oddNode:hover {
  background-color: #454545;
}
.node {
  display: flex;
  width: calc(100% + 50px);
  height: 26px;
  max-height: 26px;
  background-color: #252525;
}

.nodeForward {
  display: flex;
  align-items: center;
  min-width: 40px;
  height: 26px;
}

.nodeName {
  display: flex;
  align-items: center;
  height: 26px;
  max-height: 26px;
}

.indicator {
  position: relative;
  top: 1px;
  width: 8px;
  height: 8px;

  border-radius: 25rem;
  background-color: #adff2fee;
  box-shadow: 0px 0px 5px #adff2f;
  filter: drop-shadow(0px 0px 2px #adff2f);
}

.nodeOptions {
  position: absolute;
  right: 0px;
}
