@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Pretendard", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style:normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 0.85rem;

  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

@theme {
  --color-black-50: #34363A;
  --color-black-100: #2E3134;
  --color-black-200: #26282C;
  --color-black-300: #242629;
  --color-black-400: #202225; 
  --color-black-500: #17191B;
  --color-black-600: #1C1E20;
  --color-black-700: #1A1C21;
  --color-black-800: #131517
  --color-black-900: #050607;

  --color-gray-50: #D1D1D3;
  --color-gray-100: #CDCDCD;

  --color-red-500: #C12F2A; 
 
  --color-orange-400: #FEE092;
  --color-orange-500: #EAA142;
  --color-orange-600: #FD8700;
  --color-orange-700: #E0680B;

  --color-green-500: #658A32;

  --color-blue-100: #22acFF;
  --color-blue-200: #76A9E8;
  --color-blue-300: #529CEA;
  --color-blue-400: #3A6FC7;
  --color-blue-500: #3462AD;
  --color-blue-600: #2E5696;

                         
  /* --color-gray-50: #e0e0e0;
  --color-gray-100: #acacac;
  --color-gray-200: #909090;
  --color-gray-300: #686868;
  --color-gray-400: #505050;
  --color-gray-500: #424242;
  --color-gray-600: #353535; */

  --color-cyan-100: #6ac4bc;

  --color-text-primary: #f7f7f7;
  --color-text-secondary: #969696;
}

@theme {
  --color-background-db-primary: #444546;
  --color-background-db-secondary: #272829;
  --color-background-db-third: #414142;

  --color-gc-black-100: #3f3f3f;
  --color-gc-black-200: #3e3e3e;
  --color-gc-black-300: #3c3c3c;
  --color-gc-black-400: #383838;
  --color-gc-black-500: #333333;
  --color-gc-black-600: #282828;
  --color-gc-black-700: #252525;
  --color-gc-black-800: #241f1a;
  --color-gc-black-900: #151515;

  --color-gc-gray-100: #f0f0f0;
  --color-gc-gray-200: #d3d3d3;
  --color-gc-gray-300: #9e9e9e;
  --color-gc-gray-400: #919191;
  --color-gc-gray-500: #707070;
  --color-gc-gray-600: #606060;
  --color-gc-gray-700: #505050;
  --color-gc-gray-800: #404040;
  --color-gc-gray-900: #303030;

  --color-gc-cyan-100: #00e1e9;
  --color-gc-cyan-200: #00ced6;
  --color-gc-cyan-300: #00a7ae;
  --color-gc-cyan-400: #00696d;
  --color-gc-cyan-500: #005255;
  --color-gc-cyan-600: #32555d;
  --color-gc-cyan-700: #003638;
  --color-gc-cyan-800: #002931;

  --shadow-menu-primary: 0 0 3px #005255;

  --color-gc-orange-500: #ff5f00;
  --color-gc-orange-700: #9e3b00;

  --color-gc-yellow-500: #ffcc00;

  --color-background-db-header: #353535;
  --color-background-db-header-hover: #454545;
  --color-background-db-select: #19474e;

  --color-progress-start: #005255;
  --color-progress-end: #00ced6;

  /* --color-text-primary: #b1b1b1; */
  --color-text-primary: #f0f0f0;
  --color-text-secondary: #acacac;

  --color-border-primary: #5d5e5f;
  --color-border-button: #2f3031;

  --animate-slideUpAndFade: slideUpAndFade 0.2s ease-in-out;
  
}


.split {
  display: flex;
}

.gutter {
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=="); */
  background-color: #000;
  background-repeat: no-repeat;
   cursor: row-resize;
  z-index: 1;
}

.gutter:hover {
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=="); */
  background-color: var(--color-blue-100);
  transition: background-color 0.25s ease-in-out;
}


.gutter.gutter-horizontal {
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg=="); */
  cursor: col-resize;
}


.scroll-bar::-webkit-scrollbar {
  width: 10px;
  height: 8px;
  background-color: #303030;
}

.scroll-bar::-webkit-scrollbar-thumb {
  background-color: #606060;
  
  
  border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb:hover {
  background-color: #707070;
  cursor: grab
}

.scroll-bar::-webkit-scrollbar-thumb:active {
  background-color: #606060;
  cursor: grabbing
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}